h6 {
  font-weight: 600;
}

.recommended-item {
  background-color: white;
  color: #d23166;
}

#recommendation-close {
  cursor: pointer;
  opacity: 0.5;
}

#recommendation-close:hover {
  opacity: 1;
}
