.offcanvas {
  background-color: #d23166;
  color: white;
}

.selected-products-button {
  border: 1px solid white;
  color: white;
  font-weight: 600;
}

.selected-products-button:hover {
  color: #d23166;
  background-color: white;
}
