@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;900&family=Roboto:wght@100;300;400;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fbf0f4;
}

/* From cssbuttons.io by @alexmaracinaru */
button {
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  background: #d23166;
  color: white;
  border: 1px solid transparent;
  font-size: 15px;
}

button:hover {
  background: transparent;
  color: #d23166;
  border: 1px solid #d23166;
}
